.input{
    display: flex;
    align-items: center;

    padding-left: 1rem;
    padding-right: 1rem;

    background: var(--BACKGROUND-800);

    

    width: 55rem;
    max-width: 100%;

    border-radius: 0.5rem;

    



    input{
        border: none;

        font-size: 2rem;
        

        height: 2rem;
        width: 90%;

        color: var(--WHITE-300);
    }
}