.button{
    background: var(--RED-300);
    

    padding: 0.5rem;

    border-radius: 0.5rem;

    max-width: 100%;
    width: 70rem;

    margin: 0 auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    color: var(--WHITE-300);




    &:disabled{
        filter: brightness(0.5);
    }
}