
        


        .content{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin-top: 5rem;


            gap: 3rem;



            .h1{
                font-size: 3rem;
                padding: 1rem;

                line-height: 5rem;

                border-bottom: 1px solid var(--GRAY-300);
                
            }

            p{
                font-size: 2rem;
                line-height: 3rem;

                padding: 2rem;

                border-radius: 1rem;
                border: 1px solid var(--GRAY-200);

                background: var(--BACKGROUND-800);
            }
        }

