.button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 0.5rem;
    
    font-size: 2rem;

    color: var(--WHITE-300);

    border: none;
    background: none;
}