.form{
            display: flex;
            flex-direction: column;

            gap: 1rem;


            width: 70rem;
            max-width: 100%;
            background: var(--BACKGROUND-1000);

            border-radius: 1rem;

            padding: 1rem;

            margin: 0 auto;


            label{
                font-size: 1.3rem;
            }
}