*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  outline: 0;

  text-decoration: none;
  list-style: none;


  transition: 0.3s;


  color: var(--WHITE-300);


}

::-webkit-scrollbar{
  width: 0.5rem;
  height: 1.2rem;
}
::-webkit-scrollbar-thumb{
  background: var(--BLACK-100);
  border-radius: 5rem;
}


input{
  border: none;
}


textarea{
  padding: 1rem;
  background: var(--BACKGROUND-800);
  border: none;
  border-radius: 0.5rem;


  resize: none;
}



:root{
  --BACKGROUND-1000 :rgba(0,10,15,1);
  --BACKGROUND-900: linear-gradient(90deg, rgba(0,10,15,0.5) 80%, rgba(24,31,57,1) 100%);
  --BACKGROUND-800: #1d2529;
  --BACKGROUND-700: #01020a;
  --BACKGROUND-600: #00111A;


  --GRAY-300: #5d606b;
  --GRAY-200: #9497a1;
  --GRAY-100: #bfc0c6;


  --WHITE-300: #ffff ;
  --BLACK-100: #010208;

  --RED-300: #63000e;
  --RED-200: #832532;

  --GREEN-500 : rgb(42, 201, 180);

  --ICEBLUE-100 : rgb(42, 169, 201) ;


  --PINK-100 : rgb(212, 57, 83);



  font-size: 62.5%;
}

.hidden{
  display: none;
}

main{
  overflow-y: auto;
  overflow-x: hidden;

}

html{
  scroll-behavior: smooth;
}

body{

  background: var(--BACKGROUND-1000);
}


button{
  border: none;
  background: none;
  cursor: pointer;
}

a{
  
  color: var(--WHITE-300);

}

a, svg, button, h1, li{
  cursor: pointer;
  transition: 0.5s;
}

input{
  outline: none;
  background: none;
}


//hover
button:hover{
  scale: 1.05;
}

a:hover{
  scale: 1.05;
}