.layout{

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    margin: 15% 1rem;
    padding-left: 1rem;


        button{
            display: none;
        }




        h1{
            color: var(--WHITE-300);
            text-shadow: 0.5rem 0.5rem 0.5rem var(--GREEN-500);

            word-wrap: break-word;


            font-size: 4rem;

        }

        p{
             color: var(--GRAY-100);
             font-size: 2rem;
        }
     

        .button{
            text-align: center;
            width: 35rem;
            max-width: 100%;
            
            margin: 0;

            background: none;

            border: 1px solid var(--GREEN-500);
            border-radius: 1rem;

            color: var(--GREEN-500);

            letter-spacing: 0.3rem;
            font-size: 1.5rem;

            padding: 0.8rem;




            &:hover{
                color: var(--WHITE-300);
            }
        }
    }
    
    


@media(min-width : 768px){
    .layout{
        main{
            h1{
                font-size: 4rem;
            }
        }
    }
}