.layout{

    
    main{

            
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 3rem;


        button{
            display: none;
        }


        padding: 3rem 1rem 5rem 3rem ;

        grid-area: main;

        background-image:  url("../../../public/../../public//backgroundMainPortfolio.jpg");
        background-size: cover;
        background-position: center;
        font-size: 2rem;

        position: relative;


        h1{
            color: var(--WHITE-300);
            text-shadow: 0.5rem 0.5rem 0.5rem var(--GREEN-500);

            word-wrap: break-word;


            font-size: 3rem;

        }

        p{
             color: var(--GRAY-100);
        }
     

        .button{
            display: block;
            
            margin: 0;

            background: none;

            border: 1px solid var(--GREEN-500);
            border-radius: 0.3  QW2455rem;

            color: var(--GREEN-500);

            letter-spacing: 0.3rem;


            &:hover{
                color: var(--WHITE-300);
            }
        }
    }
    
}


@media(min-width : 768px){
    .layout{
        main{
            h1{
                font-size: 4rem;
            }
        }
    }
}