.carouselContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 800rem;
    max-width: 100%;

    margin: 0 auto;
    margin-bottom: 2rem;

}