.footerContainer{

    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 1rem;

    gap: 1rem;

    width: 100%;

    justify-content: space-between;

    background: var(--BACKGROUND-600);


    font-size: 0.8rem;



    grid-area: footer;




    h1, h2{
        color: var(--WHITE-300);
        white-space: nowrap;
    }
    
    .imgFooter{
        width: 8rem;
        height: 8rem;
    }
    .footer{
        display: flex;
        align-items: center;
    }



    
}
@media(min-width: 768px){
    .footerContainer{
        font-size: 1rem;
    }
}