.isNew, .tagItem{
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 0.5rem;

    border-radius: 1rem;

    width: 25rem;
    max-width: 100%;



    input{
        width: 100%;
        color: var(--WHITE-300);

    }

}

.isNew{
    border: 1px dashed var(--GRAY-200);
}


.tagItem{
    background: var(--BLACK-100);

}